
<table summary="Admin category form fields">
  <tr>
    <th><%= f.label :name  %></th>
    <td><%= f.text_field :name  %></td>
  </tr>
  <tr>
    <th><%= f.label :description  %></th>
    <td><%= f.text_field :description  %></td>
  </tr>
</table>