<% @page_title = "create admin user" %>
<section>
<%= link_to("back to list", admin_users_path, :class => "back-link") %>

<div class= "user new">
  <h2>Create Admin User</h2>
  <%= form_for(:user, :url => {:action => "create"}) do |f| %>
    <%= render "form", {f: f} %>
    <div class="form-bottons">
      <%= submit_tag I18n.t "admin.user.createtitle" %>
    </div>
  <% end %>
</div>
</section>